*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    height: 100%;    

}

body{
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}


#container{
    display: flex;

    height: 90%;
    width: 90%;
}

.descricao, .formulario{

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;

}

.descricao{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 25px;

    background-color: #F3F5F9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

/* Radius */
.marcacao{
    border: solid 6px #3E39FF;
    border-radius: 5px;
    width: 4px;
    height: 4px;

    margin-top: -50px;

}

/* Frase */
.freela h1{
    font-size: 1.2em;
    margin-bottom: 15px;

    
}

.freela p{
    font-size: .8em;
    color: #666769;
    margin-bottom: 30px;
    
}

/* Card */
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.conteudo{
    padding: 20px;
    border-radius: 8px;
    background-color: #2D3345;

}

.conteudo p{
    font-size: .8em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.usuario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.usuario img{
    border-radius: 50%;
    width: 30px;
    margin-top: 10px;
}

.desc{
    margin-left: 10px;
}

.desc p{
    font-weight: 800;
    margin-bottom: 0;
}
.desc span{
    font-size: .7em;
}
