*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    height: 100%;    

}

body{
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}


#container{
    display: flex;

    height: 90%;
    width: 90%;
}

.descricao, .formulario{

    display: flex;
    flex-direction: column;
    width: 50%;

}

.descricao{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 25px;

    background-color: #F3F5F9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

/* Radius */
.marcacao{
    border: solid 6px #3E39FF;
    border-radius: 5px;
    width: 4px;
    height: 4px;

    margin-top: -50px;

}

/* Frase */
.freela h1{
    font-size: 1.2em;
    margin-bottom: 15px;

    
}

.freela p{
    font-size: .8em;
    color: #838385;
    margin-bottom: 30px;
    
}

/* Card */
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    margin-top: 80px;
    
}

.conteudo{
    background-image: url(../img/aspas.svg);
    background-repeat: no-repeat;
    background-size: 45px;
    background-position-y: -10px;
    background-position-x: 17px;

    padding: 20px;
    border-radius: 8px;
    background-color: #2D3345;

}

.conteudo p{
    font-size: .8em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.usuario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.usuario img{
    border-radius: 50%;
    width: 30px;
    margin-top: 10px;
}

.desc{
    margin-left: 10px;
}

.desc p{
    font-weight: 800;
    font-size: .7em;
    margin-bottom: 0;
}
.desc span{
    font-size: .6em;
    color: #8d8e8f;
}

.card .slider{
    display: flex;
    padding: 10px;
}

.card .slider p:nth-child(1){
    border: solid #3E39FF 4px;
    margin: 5px;

    border-radius: 50%;
}

.card .slider p{
    border: solid #CDCED4 4px;
    margin: 5px;

    border-radius: 50%;
}

/* Formulario */

.formulario .iniciar, .form, .login{

    margin-top: 5px;
    margin: 30px;
    
}

.formulario .iniciar p{
    color: #838385;
    margin-top: 15px;
    font-size: 1em;
}

.formulario .form form{
    display: flex;
    flex-direction: column;

}

/* Labels */
.formulario .form label{
    font-size: .8em;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #838385;
}

/* Inputs */
.formulario .form input{
    border: solid #8383856c 1px;
    padding: 6px;
    border-radius: 5px;

    margin-bottom: 15px;
}

/* Button */
.formulario .form button{
    padding: 10px;
    margin-top: 10px;
    background-color: #3E39FF;
    cursor: pointer;
    color: white;

    border-radius: 10px;
}

/* Login */
.formulario .login p{
    text-align: center;
    font-size: .8em;
    color: #838385;
}

.formulario .login p a{
    text-decoration: none;
    color: #3E39FF;
}

.formulario .login p a:visited{
    text-decoration: none;
    color: #090735;
}